@import url("header.css");
@import url("banner.css");
@import url("carousel.css");
@import url("topics.css");
@import url("footer.css");
@import url("contact.css");

:root {
    --background-color: #EBECEE;
    --white: #FFFFFF;
    --orange: #EB9B00;
    --gradient-blue: linear-gradient(97.54deg, #002F52 35.49%, #326589 165.37%);    
    --main-font: "Poppins";
    --blue: #002F52;
    --secondary-font: "Josefin Sans";
    --black: #000000;
    --gray: #474646;
    --gray-light: #858585;
}

body {
    background-color: var(--background-color);
    font-family: var(--main-font);
    font-size: 16px;
    font-weight: 400;
}

